[MASTER]
disable=
    missing-docstring,
    too-few-public-methods,
    no-name-in-module,
    import-error,

max-line-length=100
jobs=4
ignore-patterns=test_.*?\.py,.*_test\.py

[DESIGN]
max-attributes=10
max-locals=20
